<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>宿舍信息</title>

    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="assets/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-skin">
<div th:replace="commons/bar::#navbar"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <ul class="nav nav-list">

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text">
								学生管理
                    </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a th:href="@{/studenttable}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            学生信息管理
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a th:href="@{/signin}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            签到管理
                        </a>

                        <b class="arrow"></b>
                    </li>


                </ul>
            </li>

            <li class="active open">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> 宿舍管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="active">
                        <a th:href="@{/dormitory}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            宿舍信息管理
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a th:href="@{/msgboard}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            留言板
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a th:href="@{/visittable}">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text"> 来访管理 </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a th:href="@{/repair}">
                    <i class="menu-icon fa fa-picture-o"></i>
                    <span class="menu-text"> 宿舍维修管理 </span>
                </a>

                <b class="arrow"></b>
            </li>

        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        主页
                    </li>

                    <li class="active">宿舍信息</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; 风格转换</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                       id="ace-settings-add-container" autocomplete="off"/>
                                <label class="lbl" for="ace-settings-add-container">
                                    缩小边框
                                </label>
                            </div>
                        </div><!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-hover"> 子菜单悬停 </label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
                                       autocomplete="off"/>
                                <label class="lbl" for="ace-settings-compact"> 紧凑型侧边栏 </label>
                            </div>

                        </div><!-- /.pull-left -->
                    </div><!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="header smaller lighter blue">宿舍信息展示</h3>
                                <!-- div.table-responsive -->

                                <!-- div.dataTables_borderWrap -->
                                <div>
                                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>宿舍号</th>
                                            <th>宿舍现有人数</th>
                                            <th>宿舍类型</th>
                                            <th>当月用电剩余额度</th>
                                            <th>维修费用</th>
                                            <th style="display:none"></th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="dormitory:${dormitorys}">
                                            <td th:text="${dormitory.getDorNumber()}"></td>
                                            <td th:text="${dormitory.getPeople()}"></td>
                                            <td th:text="${stringRoomType[dormitory.getRoomType()]}"></td>
                                            <td th:text="${costs.get(dormitory.getDorNumber()).getElecFee()}"></td>
                                            <td th:text="${costs.get(dormitory.getDorNumber()).getFixFee()}"></td>
                                            <td style="display:none"></td>
                                            <td>
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                    <a href="#" title="寝室学生信息">
                                                        <i class="ace-icon fa fa-users bigger-130"
                                                           onclick="openDetailModal(this)"></i>
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" class="green" title="修改寝室信息">
                                                        <i class="ace-icon fa fa-pencil bigger-140"
                                                           onclick="openUpdateModal(this)"></i>
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" class="red" title="充值电费">
                                                        <i class="ace-icon fa fa-bolt bigger-140"
                                                           onclick="openAddElecModal(this)"></i>
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" title="缴纳维修费">
                                                        <i class="ace-icon fa fa-wrench bigger-140"
                                                           onclick="openAddFixModel(this)"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div id="detail-table" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header no-padding">
                                <div class="table-header">
                                    <li id="dorNum">
                                        <i class="ace-icon fa fa-circle green"></i>
                                    </li>
                                </div>
                            </div>

                            <div class="modal-body no-padding" id="studentTable">
                            </div>
                            <div class="modal-footer no-margin-top">
                                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                    <i class="ace-icon fa fa-times"></i>
                                    关闭
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="update-table" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header ">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="blue bigger">修改宿舍信息</h4>
                            </div>
                            <form class="form-horizontal" id="update-form" role="form" th:action="@{/dormitory}" method="post">
                                <input type="hidden" name="_method" value="put">
                                <input type="hidden" id="dorType">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right"> 宿舍号 </label>

                                        <div class="col-sm-7">
                                            <input readonly name="dorNumber" id="originalDorId" type="text"
                                                   class="input-mini"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right"> 房间类型 </label>
                                        <div class="col-sm-7">
                                            <div class="clearfix">
                                            <select name="roomType" id="originalDorRoomType" class="input-sm">
                                                <option value="2" th:text="双人间"></option>
                                                <option value="4" th:text="四人间"></option>
                                                <option value="6" th:text="六人间"></option>
                                                <option value="8" th:text="八人间"></option>
                                            </select>
                                            <div class="help-block col-xs-12 col-sm-reset inline"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-sm" type="reset">
                                        <i class="ace-icon fa fa-times"></i>
                                        重置
                                    </button>

                                    <button class="btn btn-sm btn-primary " id="update_save_btn" type="submit">
                                        <i class="ace-icon fa fa-check"></i>
                                        保存
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="addelec-table" class="modal" tabindex="-1">
                    <div class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog"
                         style="display: block;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form class="bootbox-form" id="elec-form" th:action="@{/elecFee}" method="post">
                                    <input type="hidden" name="_method" value="put">
                                    <div class="modal-header">
                                        <button type="button" class="bootbox-close-button close" data-dismiss="modal"
                                                aria-hidden="true">&times;
                                        </button>
                                        <h4 class="modal-title">请输入上缴额度（1元/度）</h4>
                                        <input type="hidden" name="dorNumber" id="elecDorNumber">
                                    </div>
                                    <div class="modal-body">
                                        <div class="bootbox-body">
                                            <div class="clearfix">
                                            <input class="bootbox-input bootbox-input-text form-control"
                                                   autocomplete="off" type="text" name="elecFee"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-bb-handler="cancel" type="reset" class="btn btn-default">重置
                                        </button>
                                        <button data-bb-handler="confirm" type="submit" class="btn btn-primary">确定
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="addfix-table" class="modal" tabindex="-1">
                    <div class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog"
                         style="display: block;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form class="bootbox-form" id="fix-form" th:action="@{/fixFee}" method="post">
                                    <input type="hidden" name="_method" value="put">
                                    <div class="modal-header">
                                        <button type="button" class="bootbox-close-button close" data-dismiss="modal"
                                                aria-hidden="true">&times;
                                        </button>
                                        <h4 class="modal-title">缴纳维修金</h4>
                                        <input type="hidden" name="dorNumber" id="fixDorNumber">
                                    </div>
                                    <div class="modal-body">
                                        <div class="bootbox-body">
                                            <div class="clearfix">

                                            <input class="bootbox-input bootbox-input-text form-control"
                                                   autocomplete="off" type="text" name="fixFee"/>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-bb-handler="cancel" type="reset" class="btn btn-default">重置
                                        </button>
                                        <button data-bb-handler="confirm" type="submit" class="btn btn-primary">确定
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div th:replace="commons/bar::#bottombar"></div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="assets/js/dataTables.buttons.min.js"></script>
<script src="assets/js/buttons.flash.min.js"></script>
<script src="assets/js/buttons.html5.min.js"></script>
<script src="assets/js/buttons.print.min.js"></script>
<script src="assets/js/buttons.colVis.min.js"></script>
<script src="assets/js/dataTables.select.min.js"></script>

<script src="assets/js/jquery-ui.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="assets/js/bootbox.js"></script>
<script src="assets/js/jquery.easypiechart.min.js"></script>
<script src="assets/js/jquery.gritter.min.js"></script>
<script src="assets/js/spin.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>

<!-- ace scripts -->
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>

<script th:inline="javascript">
    function openDetailModal(obj) {
        $('#detail-table').modal();
        var $td = $(obj).parents('tr').children('td');
        var dorNum = $td.eq(0).text();
        var studentDorNumList = [[${studentDorNumList}]];
        $("#dorNum").text(dorNum);
        <!--创建一个table-->
        var rows = 6;
        var cols = studentDorNumList.length;
        studentTable = document.getElementById('studentTable');
        var tab = '<table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">';
        tab += '<thead>' +
            '<tr>' +
            '<th>姓名</th>' +
            '<th>性别</th>' +
            '<th>出生日期</th>' +
            '<th>专业</th>' +
            '<th>手机号</th>' +
            '<th>辅导员</th>' +
            '</tr>' +
            '</thead>'
        tab += '<tbody>'
        for (var j = 0; j < cols; j++) {
            tab += '<tr>'
            if (studentDorNumList[j].dorNumber == dorNum) {
                tab += "<td>" + studentDorNumList[j].name + "</td>"
                if (studentDorNumList[j].sex == '1') {
                    tab += "<td>男</td>"
                } else {
                    tab += "<td>女</td>"
                }
                tab += "<td>" + studentDorNumList[j].birthday + "</td>"
                tab += "<td>" + studentDorNumList[j].profession + "</td>"
                tab += "<td>" + studentDorNumList[j].phoneNumber + "</td>"
                tab += "<td>" + studentDorNumList[j].counselor + "</td>"
                tab += '</tr>'
            }
        }
        tab += '</tbody>';
        tab += '</table>';
        studentTable.innerHTML = tab
    }

    function openUpdateModal(obj) {
        $('#update-table').modal();
        //清除其中的样式
        $("#update-form").find("*").removeClass("has-error has-success");
        $("#update-form").find(".help-block").text("");
        var $td = $(obj).parents('tr').children('td');
        var dorNum = $td.eq(0).text();
        var people = $td.eq(1).text();
        var roomType = $td.eq(2).text();
        $("#originalDorId").val(dorNum);
        $("#dorType").val(people);
        if (roomType == '双人间') {
            $("#originalDorRoomType").val(2);
        }
        else if (roomType == '四人间') {
            $("#originalDorRoomType").val(4);
        }
        else if (roomType == '六人间') {
            $("#originalDorRoomType").val(6);
        }
        else {
            $("#originalDorRoomType").val(8);
        }
    }

    //校验信息展示
    function show_validate_msg(ele,status,msg){
        //先进行清除
        $(ele).parent().parent().removeClass("has-success has-error");
        $(ele).next("div").text("");
        if("success"==status){
            $(ele).parent().parent().addClass("has-success");
            $(ele).next("div").text(msg);
        }else if("error" == status){
            $(ele).parent().parent().addClass("has-error");
            $(ele).next("div").text(msg);
        }
    }
    //校验房间类型
    $("#originalDorRoomType").change(function () {
        //发送ajex请求，校验用户名
        var roomType = this.value;
        var dorType = $("#dorType").val();
        if(dorType <= roomType){
            show_validate_msg("#originalDorRoomType","success","");
            $("#update_save_btn").attr("ajax-va","success");
        }else{
            show_validate_msg("#originalDorRoomType","error","房间类型不能比所住人数小");
            $("#update_save_btn").attr("ajax-va","error");
        }
    });

    $("#update_save_btn").click(function () {
        if($(this).attr("ajax-va") == "error"){
            return false;
        }
        return true;
    })

    function openAddElecModal(obj) {
        $('#addelec-table').modal();
        var $td = $(obj).parents('tr').children('td');
        var dorNum = $td.eq(0).text();
        $("#elecDorNumber").val(dorNum);
    }
    function openAddFixModel(obj) {
        $('#addfix-table').modal();
        var $td = $(obj).parents('tr').children('td');
        var dorNum = $td.eq(0).text();
        $("#fixDorNumber").val(dorNum);
    }
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript" th:inline="javascript">
    jQuery(function ($) {

        jQuery.validator.addMethod("checkElec", function (value, element) {
            return this.optional(element) || /^\d{0,3}$/.test(value);
        }, "输入0~3位正整数");
        $('#elec-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                elecFee: {
                    required: true,
                    checkElec: true
                }
            },
            messages: {
                elecFee: {
                    required: "必填",
                }
            },
            onkeyup:false,
            focusCleanup:true,

            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-success').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if(element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if(element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element.parent());
            }
        });

        //initiate dataTables plugin
        var myTable =
            $('#dynamic-table')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .DataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        {"bSortable": false},
                        null, null, null, null, null,
                        {"bSortable": false}
                    ],
                    "aaSorting": [],


                    //"bProcessing": true,
                    //"bServerSide": true,
                    //"sAjaxSource": "http://127.0.0.1/table.php"	,

                    //,
                    //"sScrollY": "200px",
                    //"bPaginate": false,

                    //"sScrollX": "100%",
                    //"sScrollXInner": "120%",
                    //"bScrollCollapse": true,
                    //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                    //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                    //"iDisplayLength": 50


                });


        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

        new $.fn.dataTable.Buttons(myTable, {
            buttons: [
                {
                    "extend": "colvis",
                    "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>显示/不显示某列</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    columns: ':not(:first):not(:last)'
                },
                {
                    "extend": "copy",
                    "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>复制表单内容</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "csv",
                    "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>导出为 Excel</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                }
            ]
        });
        myTable.buttons().container().appendTo($('.tableTools-container'));

        //style the message box
        var defaultCopyAction = myTable.button(1).action();
        myTable.button(1).action(function (e, dt, button, config) {
            defaultCopyAction(e, dt, button, config);
            $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
        });


        var defaultColvisAction = myTable.button(0).action();
        myTable.button(0).action(function (e, dt, button, config) {

            defaultColvisAction(e, dt, button, config);


            if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                $('.dt-button-collection')
                    .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                    .find('a').attr('href', '#').wrap("<li />")
            }
            $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
        });

        ////

        setTimeout(function () {
            $($('.tableTools-container')).find('a.dt-button').each(function () {
                var div = $(this).find(' > div').first();
                if (div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
                else $(this).tooltip({container: 'body', title: $(this).text()});
            });
        }, 500);


        myTable.on('select', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
            }
        });
        myTable.on('deselect', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
            }
        });


        /////////////////////////////////
        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $('#dynamic-table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) myTable.row(row).select();
                else myTable.row(row).deselect();
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#table-header').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (this.checked) myTable.row(row).deselect();
            else myTable.row(row).select();
        });


        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });


        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if ($row.is('.detail-row ')) return;
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });


        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }


        /***************/
        $('.show-details-btn').on('click', function (e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/


        /**
         //add horizontal scrollbars to a simple table
         $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
         {
					horizontal: true,
					styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
					size: 2000,
					mouseWheelLock: true
				  }
         ).css('padding-top', '12px');
         */


    })
</script>
</body>
</html>
